body {
    font-family: 'Raleway', sans-serif;
    margin: 0 50px;
    max-width: 1400px;
}

#logo {
    width: 61px;
    height: 19px;
    color: #0065FC;
    padding-top: 60px;
    border-radius: 0px;
}

a {
    color: #000000;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.liens-navigation {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:flex-start;
    margin-block-start: 0em;
}

.lien-hebergements, .lien-activites {
    border-top: 2px solid #ffffff;
    padding-top:60px;
    padding-left: 30px;
    padding-right: 30px;
}

.lien-hebergements:hover {
    border-top: 2px solid #0065FC;
    padding-top: 60px;
}

.lien-hebergements:hover a {
    color:#0065FC;
}

.lien-activites:hover {
    border-top: 2px solid #0065FC;
    padding-top: 60px;
}

.lien-activites:hover a {
    color:#0065FC;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 16px;
}

i {
    color:#0065FC;
}

.formulaire {
    height: 49px;
    left: 55px;
    top: 199px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.fa-location-dot {
    color:#000000;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 16px;

}

.formulaire i {
    left: 0%;
    right: 85%;
    top: 0%;
    bottom: 0%;
}

.localisation {
    color:#000000;
    font-weight: 600;
    font-size: 18px;
    text-align:center;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    height: 49px;
}

input {
    border: none;
}

.bouton-search {
    color:#ffffff;
    font-size: 18px;
    font-weight: 700;
    width: 134px;
    height: 49px;
    top: 199px;
    left: 342px;
    padding: 15px 16px 15px 16px;
    background-color:#0065FC;
    border: 0px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}

ul {
    list-style: none;
}

.filtres {
    display: flex;
    margin-bottom: 20px;
}

.liste-filtres {
    display: flex;
    font-size: 17px;
    font-weight: 700;
    gap: 30px;
    padding-inline-start: 40px;
}

.liste-filtres li {
    border: solid #D9D9D9;
    background-color: #ffffff;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.liste-filtres li:hover {
    border: solid #D9D9D9;
    background-color: #deebff;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.fa-money-bill-wave, .fa-heart, .fa-dog {
    padding-right: 5px;
    width: 22px;
    height: 17px;
}

.fa-person {
    padding-right: 5px;
    width: 16px;
    height: 17px;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.icone-information {
    display: flex;
    align-items: center;
}

.fa-info {
    border: solid #D9D9D9 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 7px;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 700;
}

.fa-star {
    width: 9px;
    height: 9px;
    font-size: 13px;
}

.star-grey {
    color:#f2f2f2;
}

.star {
    display: flex;
    gap: 7px;
}

.section-1-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-hebergements {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 65%;
    border: solid #ffffff;
    border-radius: 20px;
    background-color: #f2f2f2;
    gap: 20px;
    min-height: 626px;
}

.section-hebergements h3 {
    padding-left: 30px;
}

.afficher-plus {
    padding-left: 30px;
}

.cards-hebergements {
    width: 100%;
    min-height: 25em;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
}

.afficher-plus {
    font-size: 18px;
    font-weight:700;
    padding-top: 40px;
}

.titre-section-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-chart-line {
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
}

.section-populaires {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid #ffffff;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    gap: 20px;
    min-height: 626px;
}

.cards-populaires {
    width: 100%;
    min-height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 28%;
    min-height: 12.5em;
    background-color: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 20px;
}

.card-1 h4 {
    margin-block-start: 0.3em;
    margin-block-end: 0em;
}

.card-1 p {
    margin-block-start: 0.4em;
    margin-block-end: 0em;
    font-size: 14px;
}

.card-1 .star {
    margin-block-start: 0.6em;
    margin-block-end: 0.3em;
}

.card-1 .image {
    width: 100%;
    height: 7em;
}

.card-1 .image img {
    width: 100%;
    height: 7em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-2 {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    height: 9em;
    background-color: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 20px;
}

.card-2-2 {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.card-2 h4 {
    margin-block-start: 0.2em;
    margin-block-end: 0em;
}

.card-2 p {
    margin-block-start: 0.3em;
    margin-block-end: 0em;
    font-size: 14px;
}

.card-2 .star {
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;
}

.card-2-2 .image {
    width: 8.5em;
    height: 9em;
}

.card-2-2 .image img {
    width: 8.5em;
    height: 9em;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.contenu-card-1 {
    padding: 10px 16px;
}

.contenu-card-2 {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3-activites {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards-activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23%;
    height: 445px;
    border-radius: 20px;
}

.card-3 img {
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
  
.card-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenu-card-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.contenu-card-3 h4 {
    margin-block-start: 0.7em;
    margin-block-end: 1.5em;
}

.listes-footer {
    padding-inline-start: 0px;
}

.listes-footer li {
    padding-bottom: 10px;
}

.section-footer {
    padding-top: 30px;
    padding-bottom: 40px;
}

footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    border:#f2f2f2;
    background-color:#f2f2f2;
}

@media screen and (min-width: 992px) {

    button {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    button {
        display: none;
    }

    .localisation {
        height: 40px;
    }

    .bouton-search {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .fa-location-dot {
        padding: 12px 15px 12px 15px;
    }

    .liste-filtres {
        justify-content: space-around;
        font-size: 14px;
        font-weight: 700;
        gap: 10px;
        padding-inline-start: 20px;
        width: 100%;
    }

    .liste-filtres li {
        padding: 10px 14px;
    }

    .liste-filtres li:hover {
        padding: 10px 14px;
    }

    .fa-money-bill-wave, .fa-dog {
        padding-right: 3px;
    }

    .fa-person, .fa-heart {
        padding-left: 2px;
    }

    .fa-person {
        padding-right: 0px;
    }

    .fa-heart {
        padding-right: 3px;
    }

    .section-1-2 {
        flex-direction: column;
    }

    .section-hebergements {
        width: 95%;
    }

    .section-populaires {
        width: 95%;
        min-height: 278px;
    }

    .cards-populaires {
        flex-direction: row;
        min-height: 0px;
    }

    .card-2-2 .image {
        width: 6em;
        height: 9em;
    }

    .card-2-2 .image img {
        width: 6em;
        height: 9em;
    }

    .cards-hebergements {
        justify-content: center;
    }

    .cards-2 h4 {
        font-size: 14px;
    }

    .cards-2 p {
        font-size: 13px;
    }

    .cards-populaires {
        gap: 10px;
    }

    .contenu-card-2 {
        padding: 4px 8px;
    }

    .card-3 {
        height: 267px;
    }

    .card-3 img {
        height: 211px;
    }
}


@media screen and (max-width: 767px) {

    body {
        margin-left: 0;
        margin-right: 0;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

    nav img {
        padding-bottom: 40px;
    }

    #logo {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .liens-navigation {
        padding-inline-start: 0px;
        width: 100%;
        justify-content: space-around;
    }

    .lien-hebergements {
        width: 50%;
        text-align: center;
        border-top: none;
        padding: 0px 30px 30px 30px;
        border-bottom: 2px solid #ffffff;
    }

    .lien-activites {
        width: 50%;
        text-align: center;
        border-top: none;
        padding: 0px 30px 30px 30px;
        border-bottom: 2px solid #ffffff;
    }

    .lien-hebergements:hover {
        border-top: none;
        padding-top: 0px;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 30px;
    }

    .lien-activites:hover {
        border-top: none;
        padding-top: 0px;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 30px;
    }

    .intro {
        margin-left: 20px;
        margin-right: 20px;
    }

    .formulaire {
        height: 45px;
        margin-bottom: 10px;
    }

    .localisation {
        font-size: 15px;
        height: 45px;
    }

    .bouton-search {
        display: none;
    }

    .fa-location-dot {
        padding: 14px;
    }

    button {
        width: 45px;
        height: 45px;
        top: 199px;
        left: 342px;
        padding: 15px;
        background-color:#0065FC;
        border: 0px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .fa-magnifying-glass {
        color:#ffffff;
        width: 17px;
        height: 17px;
    }

    .filtres {
        flex-direction: column;
        align-items:flex-start;
    }

    .liste-filtres {
        font-size: 12px;
        padding-inline-start: 0px;
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        width: 100%;
    }

    .liste-filtres li {
        padding: 20px 8px 10px 8px;
        width: 90%;
        height: 25px;
        border-radius: 30px;
    }

    .liste-filtres li:hover {
        padding: 20px 8px 10px 8px;
        width: 90%;
        height: 25px;
        border-radius: 30px;
    }

    .fa-person, .fa-money-bill-wave, .fa-heart, .fa-dog {
        padding-left: 5px;
    }
    
    .fa-person {
        padding-right: 10px;
    }

    .section-1-2 {
        flex-direction: column-reverse;
    }

    .section-populaires {
        width:auto;
        border-radius: 0;
    }

    .cards-populaires {
        gap: 20px;
    }

    .section-hebergements {
        width: auto;
        border-radius: 0;
        background-color: #ffffff;
    }

    .section-hebergements h3 {
        padding-left: 10px;
    }

    .cards-hebergements {
        flex-direction: column;
        align-items: center;
    }

    .card-1 {
        width: 90%;
    }

    .afficher-plus {
        display: none;
    }

    .h3-activites {
        padding-left: 20px;
    }

    .cards-activites {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .card-3 {
        width: 90%;
        height: 190px;
    }

    .card-3 img {
        height: 134px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
    }

    .section-footer {
        padding-top: 0;
        padding-bottom: 0;
    }

}




